		#margins{
			margin-left:300px;
			margin-right:300px;
		}
		#redbox{
			margin-top:20px;
			background-color:red;
			height:150px;
		}
		#greenstrip{
			background-color:#0F0;
			height:15px;
		}
		#bluesidebar{
			background-color:blue;
			float:left;
			width:150px;
			height:1000px;
		}
		#cyansidebar{
			background-color:cyan;
			float:right;
			width:150px;
			height:1000px;
		}
		#yellowbody{
			background-color:yellow;
			height:1000px;
		}